.link-router {
  color: gray;
  text-decoration: none;
}

.big-logo {
  height: 7em;
  width: auto;
}

.page {
  margin-top: 2em;
}

.main-card {
  min-height: 10em;
  width: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2em;
}
